/* 小屏不收缩*/
@media screen and (max-width: 1366px) {
  html {
    width: 1366px !important;
    overflow: auto !important;
  }
}
/*
* ===========================自定义滚动条样式 start==========================================
*/
// 通用滚动条样式
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #D7D8DC;
}
// 大尺寸滚动条样式
.scrollbar-l::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.scrollbar-l::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #D7D8DC;
}
// 中等尺寸滚动条样式
.scrollbar-m::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar-m::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #D7D8DC;
}
// 小尺寸尺寸滚动条样式
.scrollbar-s::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-s::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #D7D8DC;
}
// 文本框滚动条
textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #D7D8DC;
}
/*
* ===========================自定义滚动条样式 end==========================================
*/
/*
* ===========================重置message-box样式 start==========================================
*/
.el-message-box{
  width: 416px !important;
  .el-message-box__header{
    background: #f2f3f7;
    font-size: 16px;
    font-weight: 600;
  }
  .el-message-box__content{
    min-height: 45px;
  }
}
/*
* ===========================重置message-box样式 end==========================================
*/
/*
* ===========================重置table filter样式 start======================================
*/
.el-table-filter{
  .el-checkbox__label{
    font-size: 12px;
  }
  .el-table-filter__bottom{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    button{
      font-size: 12px;
    }
  }
}

/*
* ===========================重置table filter样式 end======================================
*/

/*
* ===========================重置下拉框样式 start======================================
*/
.el-select-dropdown{
  &__item{
    font-size: 12px !important;
  }
}
.el-select__tags-text {
  max-width: 100px;
}

/*
* ===========================重置下拉框样式 end======================================
*/
