// 颜色定义规范
$color-deep-background: #F2F5F9;
$color-normal-background: #fff;
// 不同状态颜色
$color-success: #5cbb7a;
$color-primary: #d9534f;
$color-warning:#e6a422;
$color-danger:#CC3333;
$color-info: #8896b3;
// hover效果颜色
$color-normal-hover:#F0F0F0;
$color-primary-deep-hover:#ae423f;
$color-primary-light-hover:#FBEDED;
// 字体颜色
$color-text-base: #2E3030;
$color-text-active: #FFFFFF;
$color-text-plain: #DD6460;
// 字体定义规范
$font-size-xs:12px;
$font-size-s:13px;
$font-size-m:14px;
$font-size-l:15px;
$font-size-xl:16px;
$font-size-xxl:17px;
$font-size-xxxl:18px;
$font-size-xxxxl:19px;
$font-size-xxxxxl:20px;
$font-size-xxxxxxl:21px;
$font-size-xxxxxxxl:22px;