@import "./variable";
@import "./mixin.scss";
@import "./reset";
@import "./global";

// 修改饿了么弹窗公共样式 header - footer
@mixin popup($default) {
  .#{$default} {
    padding: 0 !important;
    border-radius: 8px !important;
    .#{$default}__header {
      padding: 6px 24px !important;
      border-bottom: $border-content;
      text-align: left;
      .#{$default}__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
      }
      .#{$default}__headerbtn {
        top: 16px;
        .#{$default}__close {
          color: #666666;
        }
        font-size: 18px;
      }
    }
    .#{$default}__footer,.#{$default}__btns {
      border-top: $border-content;
      padding: 16px 24px !important;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.el-message-box {
  min-width: 600px !important;
  .el-message-box__content {
    padding: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px !important;
  }
  .el-message-box__btns {
    .el-button {
      min-height: 40px !important;
    }
  }
}

@include popup("el-dialog")
@include popup("el-message-box")

//数据统计的公共样式
.statistics-data {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 25px;
  .statistics-data-display {
    display: flex;
    line-height: 28px;
    max-width: 70%;
    .statistics-data-title {
      color: $--color-primary;
      font-size: $font-size-medium-x;
      margin-right: 16px;
      white-space: nowrap;
    }
    .statistics-data-container {
      display: flex;
      flex-wrap: wrap;
      font-size: $font-size-medium;
      color: $color-text;
      .data-container {
        width: 25%;
        text-align: left;
        min-width: 250px;
      }
    }
  }
  .statistics-data-operation {
    white-space: nowrap;
    text-align: right;
    .statistics-data-tips {
      font-size: $font-size-medium;
      font-weight: 400;
      color: $color-text;
      margin-top: 2px;
      i {
        font-size: $font-size-medium;
      }
    }
  }
}

.form-block-container {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
  .form-block-header {
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    font-weight: 700;
    font-size: 14px;
    height: 48px;
    .el-icon-arrow-down {
      font-size: 14px;
      color: #666666;
      font-weight: 400;
    }
  }
  .form-block-content {
    padding: 24px;
    .el-form-item {
      margin-right: 28px;
      width: 46% !important;
      &.block {
        width: 100% !important;
        .el-form-item__content {
          width: 70%;
        }
      }
    }
    .xb-table {
      padding: 0 !important;
    }
  }
}

.password-tips-pop {
  width: 304px !important;
  background-color: #000 !important;
  border-radius: 8px;
  p {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      margin-right: 10px;
      background-color: #fff;
      border-radius: 3px;
    }
  }
  
  .popper__arrow::after {
    border-right-color: #000 !important;
  }
}