@import "~@/styles/variable.scss";

$bottom-bar-height: 72px; // 底部操作栏高度
$safe-padding: 24px; // 安全的左右padding距离
$item-gap: 8px; // 操作栏内按钮两两间的距离

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .content {
    flex: 1;
    box-sizing: border-box;
    padding: $safe-padding;
    overflow-y: auto;
    width: 100%;
    //&.with-bottom-bar {
    //  padding-bottom: $bottom-bar-height + 10px;
    //}
    &>* {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .bottom-bar {
    box-sizing: border-box;
    border-top: 1px solid #eff0f4;
    padding: 0 $safe-padding;
    background-color: #fff;
    width: 100%;
    height: $bottom-bar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .with-only-center {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &.has-more-button {
        // 当右侧按钮多出来时，为了固定自身，所以强行回过去
        margin-right: -50px;
      }
    }

    .with-left-and-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-block {
        &>* {
          margin-left: 0;
          margin-right: $item-gap;
        }
      }
      .right-block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &>* {
          margin-left: $item-gap;
          margin-right: 0;
        }
      }
    }

    .tools-block {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &>* {
        margin-left: $item-gap;
        margin-right: 0;
      }
    }
  }
}
